#star1{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star2{
    margin-left: 100px;
    margin-top: 20px;
  
  }
  #star3{
    margin-left: 330px;
    margin-top: 20px;
  
  }
  #star4{
    margin-left: 410px;
    margin-top: 30px;
  
  }
  #star5{
    margin-left: 550px;
    margin-top: 50px;
  
  }
  #star6{
    margin-left: 0px;
    margin-top: 10px;
  
  }
  #star7{
    margin-left: 200px;
    margin-top: 40px;
  
  }
  #star8{
    margin-left: 400px;
    margin-top: 60px;
  
  }
  #star9{
    margin-left: 500px;
    margin-top: -500px;
  
  }
  #star10{
    margin-left: 600px;
    margin-top: -600px;
  
  }
  #star11{
    margin-left: 0px;
    margin-top: -500px;
  
  }
  #star12{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star13{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star14{
    margin-left: 0px;
    margin-top: 120px;
  
  }
  #star15{
    margin-left: 0px;
    margin-top: 300px;
  
  }
  #star16{
    margin-left: 500px;
    margin-top: 450px;
  
  }
  #star17{
    margin-left: 200px;
    margin-top: 600px;
  
  }
  #star18{
    margin-left: 342px;
    margin-top: 100px;
  
  }
  #star19{
    margin-left: 630px;
    margin-top: 100px;
  
  }
  #star20{
    margin-left: 70px;
    margin-top: 0px;
  
  }
  #star21{
    margin-left: 130px;
    margin-top: -150px;
  
  }
  #star22{
    margin-left: 200px;
    margin-top: 0px;
  }
  #star23{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star24{
    margin-left: 100px;
    margin-top: 20px;
  
  }
  #star25{
    margin-left: 330px;
    margin-top: 20px;
  
  }
  #star26{
    margin-left: 410px;
    margin-top: 30px;
  
  }
  #star27{
    margin-left: 550px;
    margin-top: 50px;
  
  }
  #star28{
    margin-left: 0px;
    margin-top: 10px;
  
  }
  #star29{
    margin-left: 200px;
    margin-top: 40px;
  
  }
  #star30{
    margin-left: 400px;
    margin-top: 60px;
  
  }
  #star31{
    margin-left: 500px;
    margin-top: -500px;
  
  }
  #star32{
    margin-left: 600px;
    margin-top: -600px;
  
  }
  #star33{
    margin-left: 0px;
    margin-top: -500px;
  
  }
  #star34{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star35{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star36{
    margin-left: 0px;
    margin-top: 120px;
  
  }
  #star37{
    margin-left: 0px;
    margin-top: 300px;
  
  }
  #star38{
    margin-left: 500px;
    margin-top: 450px;
  
  }
  #star38{
    margin-left: 200px;
    margin-top: 600px;
  
  }
  #star39{
    margin-left: 342px;
    margin-top: 100px;
  
  }
  #star40{
    margin-left: 630px;
    margin-top: 100px;
  
  }
  #star41{
    margin-left: 70px;
    margin-top: 0px;
  
  }
  #star42{
    margin-left: 130px;
    margin-top: -150px;
  
  }
  #star43{
    margin-left: 200px;
    margin-top: 0px;
  }
  #star44{
    margin-left: 130px;
    margin-top: -150px;
  
  }
  #star45{
    margin-left: 200px;
    margin-top: 0px;
  }
  #star46{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star47{
    margin-left: 100px;
    margin-top: 20px;
  
  }
  #star48{
    margin-left: 330px;
    margin-top: 20px;
  
  }
  #star49{
    margin-left: 410px;
    margin-top: 30px;
  
  }
  #star50{
    margin-left: 550px;
    margin-top: 50px;
  
  }
  #star51{
    margin-left: 0px;
    margin-top: 10px;
  
  }
  #star52{
    margin-left: 200px;
    margin-top: 40px;
  
  }
  #star53{
    margin-left: 400px;
    margin-top: 60px;
  
  }
  #star54{
    margin-left: 500px;
    margin-top: -500px;
  
  }
  #star55{
    margin-left: 600px;
    margin-top: -600px;
  
  }
  #star56{
    margin-left: 0px;
    margin-top: -500px;
  
  }
  #star57{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star58{
    margin-left: 0px;
    margin-top: 0px;
  
  }
  #star59{
    margin-left: 0px;
    margin-top: 120px;
  
  }
  #star60{
    margin-left: 0px;
    margin-top: 300px;
  
  }
  #star61{
    margin-left: 500px;
    margin-top: 450px;
  
  }
  #star62{
    margin-left: 200px;
    margin-top: 600px;
  
  }
  #star63{
    margin-left: 342px;
    margin-top: 100px;
  
  }
  #star64{
    margin-left: 630px;
    margin-top: 100px;
  
  }
  #star65{
    margin-left: 70px;
    margin-top: 0px;
  
  }
  #star66{
    margin-left: 130px;
    margin-top: -150px;
  
  }