#nav-bar-tum{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 100%;
    max-width: 1400px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 3px;
    margin-left: 0px;
    margin-top: -500px;
    position: sticky;
  }
  .dark-mode #nav-bar-tum a{
    border-color: black;
    color: black;
  }
  .dark-mode #nav-bar-tum {
    border-color: black;
    color: black;
  }
  #light-mode-toggle-btn{
    margin-left: 50px;
    width: 35px;
  }
  
  @media screen and (max-width: 1400px) and (min-width: 650px) {
    #nav-bar-tum {
      height: 130px;
      width: 870px;
      margin-left: auto;
      margin-right: auto;
    }
    #nav-bar-tum a {
      font-size: 18px;
      margin-left: -40px; /* Reduce padding */
    }
    #home {
      margin-right: -380px;
      margin-left: -100px;
    }
    .hidden-nav #drop-down-navbar{
      display: none !important;
    }
  }
  
  /* Hide the navbar on very small screens */
  @media screen and (max-width: 650px) {
    #nav-bar-tum {
      display: none;
    }
  
    #hidden-nav-button{
      display: block !important;
      position: relative;
      margin-top: -400px;
      margin-left: 60px;
    }
  }
  #home {
    padding-right: 350px;
    padding-left: 50px;
  }
  #nav-bar-tum a {
    padding-left: 100px;
    font-size: 30px;
    color: white;
  }
  #hidden-nav-button{
    display: none; 
    background: none;
    border: none;
    color: white;
    font-size: 24px;
  }
  .hidden-nav #drop-down-navbar{
    display: block;
    background-color: black;
    color: grey;
  }
  #drop-down-navbar {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
  }
  #drop-down-navbar  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }