.star{
    border-radius:50%;
    background-color: white;
    display: block;
    position: relative;
    /* HTML: <div class="star"></div> */
    width: 10px;  
    aspect-ratio: 1;
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
    /* or more simple
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
     */
     animation-name: movingstars;
     animation-duration: 100s;
     animation-iteration-count: infinite;
     /* animation-delay: 4s; */
     animation-timing-function: linear;
     animation-fill-mode: forwards;

}
.starpar{
  border-radius:50%;
  background-color: white;
  display: block;
  position: relative;
  /* HTML: <div class="star"></div> */
  width: 10px;  
  aspect-ratio: 1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
   animation-name: movingstars2;
   animation-duration: 100s;
   animation-iteration-count: infinite;
   animation-delay: 16s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
.starman{
  border-radius:50%;
  background-color: white;
  display: block;
  position: relative;
  /* HTML: <div class="star"></div> */
  width: 10px;  
  aspect-ratio: 1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
   animation-name: movingstars3;
   animation-duration: 100s;
   animation-iteration-count: infinite;
   animation-delay: 25s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
.dark-mode .star{
  background-color: purple;
  display: block;
  position: relative;
  border-radius: 50%;
  clip-path: circle(50%);
  aspect-ratio: 1;
  width: 10px;
  animation-name: dark_mode_movingstars;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.dark-mode .starpar{
  background-color: greenyellow;
  display: block;
  position: relative;
  border-radius: 50%;
  clip-path: circle(50%);
  aspect-ratio: 1;
  width: 10px;
  animation-name: dark_mode_movingstars;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.dark-mode .starman{
  background-color: blue;
  display: block;
  position: relative;
  border-radius: 50%;
  clip-path: circle(50%);
  aspect-ratio: 1;
  width: 10px;
  animation-name: dark_mode_movingstars;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes movingstars {
  0%   {left:-660px; top:0px;}
  100% {left:1500px; top:0px;}
}
@keyframes movingstars2 {
  0%   {left:-660px; top:0px;}
  100% {left:1500px; top:0px;}
}
@keyframes movingstars3 {
  0%   {left:-860px; top:0px;}
  100% {left:1500px; top:0px;}
}
@keyframes dark_mode_movingstars {
  0%   {left:-660px; top:0px; background-color: purple; transform: scale(1,1);}
  10%  {left:-444px; top:0px; background-color: rgb(75, 53, 75); transform: scale(2,2);}
  20%  {left:-228px; top:0px; background-color: rgb(119, 12, 12); transform: scale(3,3);}
  30%  {left:-12px; top:0px; background-color: rgb(123, 48, 209); transform: scale(4,4);}
  40%  {left:204px; top:0px; background-color: rgb(248, 112, 49); transform: scale(5,5);}
  50%  {left:420px; top:0px; background-color: rgb(124, 10, 10); transform: scale(6,6);}
  60%  {left:636px; top:0px; background-color: orange; transform: scale(5,5);}
  70%  {left:852px; top:0px; background-color: rgb(205, 24, 138); transform: scale(4,4);}
  80%  {left:1068px; top:0px; background-color: orange; transform: scale(3,3);}
  90%  {left:1284px; top:0px; background-color: rgb(48, 114, 12); transform: scale(2,2);}
  100% {left:1500px; top:0px; background-color: purple; transform: scale(1,1);}
}




