body{
  background-color: black;
  width: 1400px;


}
body.dark-mode{
  background-color: rgb(212, 209, 209);
}

.element-to-front2 {
  z-index: 2; /* set higher z-index value */
  position: relative; /* position must be set for z-index to work */
  }

.element-to-front1 {
z-index: 1; /* set higher z-index value */
position: relative; /* position must be set for z-index to work */
}

.element-behind0 {
z-index: 0; /* set lower z-index value */
position: relative; /* position must be set for z-index to work */
}






