@keyframes slideInLeft {
  0% {
    opacity: 0;

    filter: blur(5px);
    transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.slide-in-Left {
  animation: slideInLeft 2s ease;
}

@keyframes slideInRight {
  0% {
    opacity: 0;

    filter: blur(5px);
    transform: translateX(500%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.slide-in-Right {
  animation: slideInRight 2s ease;
}

.hero {
  margin-top: 6rem;
  text-align: center;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  padding: 0 0.1em;
  color: transparent;
  font-size: var(--size-8xl);
  letter-spacing: -0.005em;
  text-shadow: var(--t-shadow-light);
  background-image: var(--body-gradient);
  background-repeat: no-repeat;
  background-size: 300%;
  background-clip: text;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX((-100%));
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* .scroll-wheel {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
}
 */

.scroll {
  list-style: none;
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 200px;
  margin-inline: auto;

  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -150px;
  }
}

.item {
  width: 175px;
  height: 175px;
  position: absolute;
  left: max(calc(200px * 9), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}
.item7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}
.item8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.item9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

.item img {
  border-radius: 50%;
}

#img1,
#img4,
#img7 {
  background-color: var(--img-147);
}
#img2,
#img5,
#img8 {
  background-color: var(--img-258);
}
#img3,
#img6,
#img9 {
  background-color: var(--img-369);
}

.wheel-item {
  padding: 1em;
}

/* xs */
@media (min-width: 475px) {
  .hero__title {
    font-size: var(--size-5xl);
  }
}

/* s */
@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-6xl);
  }
}

/* m */
@media (min-width: 768px) {
  .hero__title {
    font-size: var(--size-7xl);
  }
}

/* l */
@media (min-width: 1024px) {
  .hero__title {
    font-size: var(--size-8xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */

/* xxl */
/* @media (min-width: 1536px) {
} */

/* <ul class="scroll-wheel">
</ul> */
