section {
  min-height: 100vh;
  padding: 4rem 12%;
  width: 100%;
  position: relative;
}

.about {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  color: var(--text-clr);
}

.about img {
  width: 30vw;
  height: auto;
  border-radius: 50%;

  /* background: linear-gradient(
    to right,
    var(--clr-neon),
    rgba(93, 3, 182, 1) 100%
  );
  background-size: 300%;
  color: transparent;

  animation: bg-animation 20s infinite alternate; */

  position: relative;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.info-box h3 {
  font-size: var(--size-3xl);
  font-weight: 500;
  opacity: 0.8;
}

.info-box h1 {
  font-size: var(--size-6xl);
  font-weight: 600;
  /* text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.5), 0 0 0.45em currentColor; */
}

.info-box span {
  font-size: var(--size-3xl);
  font-weight: 400;
  background: linear-gradient(
    to right,
    var(--clr-neon),
    rgba(93, 3, 182, 1) 100%
  );
  background-clip: text;
  background-size: 300%;
  color: transparent;

  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;

  font-size: var(--size-s);
  text-decoration: none;
  color: var(--text-clr);
  border: 0.125em solid var(--text-clr);
  border-radius: 0.25em;
  background-color: transparent;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--text-clr), 0 0 0.5em 0 var(--text-clr);
  transition: hover 0.5s ease-in-out;
}

.button:hover {
  background: linear-gradient(
    to right,
    var(--clr-neon),
    rgba(93, 3, 182, 1) 100%
  );
  color: var(--nav-clr);
  text-shadow: none;
  border: none;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: var(--text-clr);
}

.socials i:hover {
  transform: scale(1.1);
}
