:root {
  /* COLORS */
  --body-clr: #fefaf6;
  --nav-clr: #fefaf6;
  --side-nav: #010718;
  --text-clr: #010718;
  --search-bar: #f2f2f2;
  --search-text: #010718;

  --img-147: #845ec2;
  --img-258: #ff9671;
  --img-369: #f9f871;

  /* SIZES */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-base: 1rem;
  --size-l: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* TEXT SHADOW  */
  /* --t-shadow-light: 0px 0px #845ec2; */

  /* GRADIENT */
  --body-gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--body-clr);
}

body.dark {
  --body-clr: #121212;
  --nav-clr: #1e1e1e;
  --side-nav: #242526;
  --text-clr: #ccc;
  --search-bar: #242526;
  /* --t-shadow-light: 1px 1px 3px rgba(255, 255, 255, 0.2),
    -1px -1px 3px rgba(200, 200, 200, 0.2), 1px 1px 4px rgba(200, 200, 200, 0.4); */
  --body-gradient: linear-gradient(
    45deg,
    #84a778,
    #536984,
    #022f4e,
    #b266ff,
    #167b62,
    #89cff0
  );

  --img-147: #b266ff;
  --img-258: #022f4e;
  --img-369: #84a778;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
